.tool_workarea{
    text-align: center;
    padding: 24px;
}

.tool__header{
    padding: 6px 24px 30px;
}

.tool__header__title{
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    color: #33333b;
    text-align: center;
    text-transform: uppercase;
}

.tool__header__subtitle{
    max-width: 800px;
    margin: 8px auto 0;
    line-height: 32px;
    font-size: 22px;
    font-weight: 400;
    color: #47474f;
}

.uploading_button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.uploading_button > label{
    padding: 2vmax 8vmax;
    font-size: 25px;
    cursor: pointer;
    background-color: #E5322D;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
}

.uploading_button > label:hover{
    background-color: #bd060a;
}

.uploading_button > input{
    display: none;
}